.filter__container {
  display: flex;
  justify-content: space-between;
  position: relative;
}

@media (max-width: 767px) {
  .filter__container {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
}
