.card__container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .card__container {
    justify-content: center;
  }
}
