.container {
  border: 1px solid var(--color);
  width: 265px;
  height: 45px;
  overflow: hidden;
  transition: height 0.3s ease;
  border-radius: 8px;
}

.container__open {
  height: 130px;
}

.container::after {
  content: "";
  position: absolute;
  right: 10px;
  top: 20px;
  border: 7px solid transparent;
  border-color: var(--disabled) transparent transparent transparent;
}
.container__open::after {
  top: 12px;
  border-color: transparent transparent var(--disabled) transparent;
}

.text {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;

  padding: 15px;
}

.input__container {
  padding: 17px 21.5px 0;
  display: flex;
  gap: 10px;
  align-items: center;
  span {
    font-size: 15px;
  }
}
.number {
  border: none;
  background: var(--filter-input-bg);
  border-radius: 8px;
  padding: 0 15px;
  width: 95px;
  height: 45px;
}
